<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--主页面-->
<head th:include="public/head :: head" th:with="title='校园通服务平台'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--导航栏-->
    <div th:replace="public/body :: header"></div>

    <!-- 内容主体区域-->
    <div class="layui-body ">

        <div style="padding: 30px;" class="layui-fluid">
            <div class="layui-row">
                <div class="layui-col-md12">
                    <span class="layui-badge-dot"></span> <span
                        class="layui-badge-dot layui-bg-orange"></span> <span
                        class="layui-badge-dot layui-bg-green"></span> <span
                        class="layui-badge-dot layui-bg-cyan"></span> <span
                        class="layui-badge-dot layui-bg-blue"></span> <span
                        class="layui-badge-dot layui-bg-black"></span> <span
                        class="layui-badge-dot layui-bg-gray"></span>
                    <fieldset class="layui-elem-field layui-field-title"
                              style="margin-top: 30px;">
                        <legend>任务平台</legend>
                    </fieldset>
                </div>
            </div>


            <div class="layui-row">
                <div class="layui-col-md1">&nbsp;</div>
                <div class="layui-col-md10">
                    <form class="layui-form layui-form-pane" lay-filter="formFilter"
                          method="post" action=""> <!--Todo-->

                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <label class="layui-form-label">学校</label>
                                <div class="layui-input-block">
                                    <select id="schoolidstr" name="schoolidstr"
                                            lay-filter="schoolFilter0">
                                        <option value="-1" selected="">未选择</option>
                                        <option value="0">无</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">关键词</label>
                                <div class="layui-input-block">
                                    <input type="text" name="words" autocomplete="off"
                                           class="layui-input" value="">
                                </div>
                            </div>

                            <button class="layui-btn" lay-submit="seform"
                                    lay-filter="seform">搜索
                            </button>

                        </div>

                    </form>
                </div>
                <div class="layui-col-md1">&nbsp;</div>
            </div>

            <div class="layui-row">
                <div class="layui-col-md1">&nbsp;</div>
                <div class="layui-col-md10">
                    <fieldset class="layui-elem-field">
                        <legend>任务</legend>
                        <div class="layui-field-box" style="padding: 30px;">
                            <div class="layui-row">
                                <div class="layui-col-md12">
                                    <div class="fly-panel" style="margin-bottom: 0;">

                                        <div class="fly-panel-title fly-filter">
                                            <a class="layui-this">状态</a> <span class="fly-mid"></span> <a>任务标题</a>
                                            <span class="fly-mid"></span> <span
                                                class="fly-filter-right layui-hide-xs"> <a
                                                class="layui-this">最新</a>
												</span>
                                        </div>

                                        <ul class="fly-list" th:each="task:${list}">

                                            <li th:if="${task.state} == 0" style="padding-left: 15px;">
                                                <h2>
                                                    <a class="layui-badge">待解决</a>
                                                    <a href="javascript:void(0);"
                                                       th:onclick="'getTask(\''+${task.taskId }+'\')'">[[${task.taskName}]]</a>
                                                </h2>
                                                <div class="fly-list-info">
                                                    <a href="javascript:void(0);"
                                                       th:onclick="'getPuser(\''+${task.publishUserId }+'\')'" >
                                                        <cite> [[${task.publishUserName}]]</cite></a>

                                                    <span th:text="${#dates.format(task.addTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                                    <span class="fly-list-kiss layui-hide-xs"> <i class="layui-icon">&#xe65e;</i>
                                                            <i th:text="${task.reward }">5</i>
															</span> <span class="fly-list-nums"> <i
                                                        class="layui-icon">&#xe62c;</i>
															</span>
                                                </div>
                                            </li>


                                        </ul>

                                        <div style="text-align: center">
                                            <div id="test1"></div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </fieldset>

                </div>
                <div class="layui-col-md1">&nbsp;</div>
            </div>

        </div>

    </div>

    <!--底部-->
    <div th:replace="public/footer :: footer"></div>

</div>
</body>

<script type="text/javascript" src="../static/layui/layui.all.js"></script>

<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(test)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>

<script type="text/javascript">
    var form;
    layui.use(['layedit', 'form'], function () {
        form = layui.form;

        //自定义验证规则
        form.verify({
            schoolidstr: function (value) {
                if (value.length < 1) {
                    return '学校选择出现问题';
                }
            }
        });

        //监听提交
        form.on('submit(seform)', function (data) {
            /*layer.alert(JSON.stringify(data.field), {
                title : '最终的提交信息'
            })*/
            //return false;
        });

    });
    //加载layui中的jq
    layui.use(['jquery', 'layer'], function () {
        var $ = layui.$, //重点处
            layer = layui.layer;

        $(function () {
            $.post(
                "common/getallschools.do",
                {},
                function (data) {
                    var obj = JSON.parse(data);
                    var str = "";
                    for (var i = 0; i < obj.length; i++) {
                        var optionStr = "";
                        optionStr += "<option value='" + obj[i].schoolid + "'>" + obj[i].name + "</option>";
                        $("#schoolidstr").append(optionStr);
                        $("#schoolidstr").val(${schoolidstr});
                        form.render('select', 'formFilter');//加载完毕后更新表单显示（统一样式）
                    }
                }
            );
        });
    });
</script>
<script>
    function getPuser(publishUserId) {  //展示用户信息
        //iframe层
        layer.open({
            type: 2,
            title: '该用户信息',
            shadeClose: true,
            shade: false,
            area: ['1000px', '600px'],
            content: '/task/getUserMsg?strId=' + publishUserId
        });
    }

    function getTask(tidstr) {  //展示任务详细信息
        //iframe层
        layer.open({
            type: 2,
            title: '该任务信息',
            shadeClose: true,
            shade: false,
            area: ['1000px', '600px'],
            content: '/task/getTaskInfo?tId=' + tidstr
        });
    }
</script>
<!--<script type="text/javascript">
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'test1', //注意，这里的 test1 是 ID，不用加 # 号
            count: ${p.total},//数据总数，从服务端得到
            limit: ${p.pageSize},
            curr: ${p.pageNum },
            jump: function (obj, first) {//点击页码出发的事件
                if (first != true) {//是否首次进入页面
                    var currentPage = obj.curr;//获取点击的页码
                    window.location.href = "<%=path%>/task/list.do?words=${words }&schoolidstr=${schoolidstr }&page=" + currentPage;
                }
            }
        });
    });
</script>-->

</html>
