<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户注册</title>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <!--
        <link rel="stylesheet" type="text/css" href="styles.css">
        -->
    <link rel="stylesheet"
          href="../static/layui/css/layui.css">
</head>

<body>
<div class="layui-layout layui-layout-admin">

    <!-- 内容主体区域-->
    <div class="layui-body ">

        <div style="padding: 30px;" class="layui-fluid">
            <div class="layui-row">
                <div class="layui-col-md12">
                    <span class="layui-badge-dot"></span> <span
                        class="layui-badge-dot layui-bg-orange"></span> <span
                        class="layui-badge-dot layui-bg-green"></span> <span
                        class="layui-badge-dot layui-bg-cyan"></span> <span
                        class="layui-badge-dot layui-bg-blue"></span> <span
                        class="layui-badge-dot layui-bg-black"></span> <span
                        class="layui-badge-dot layui-bg-gray"></span>
                    <fieldset class="layui-elem-field layui-field-title"
                              style="margin-top: 30px;">
                        <legend>校园通服务平台</legend>
                    </fieldset>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-md3">&nbsp;</div>
                <div class="layui-col-md6">
                    <fieldset class="layui-elem-field">
                        <legend>请填入注册信息</legend>
                        <div class="layui-field-box">
                            <form id="reform" class="layui-form layui-form-pane"
                                  lay-filter="formFilter" action="/user/register" method="post">

                                <div class="layui-form-item">
                                    <label class="layui-form-label">学号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="studentId" lay-verify="studentid"
                                               placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">注册成功后以学号登录</div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">姓名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="name" lay-verify="name"
                                               placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="password" placeholder="请输入密码"
                                               lay-verify="password" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">请务必牢记密码</div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">学校</label>
                                    <div class="layui-input-block">
                                        <select id="schoolid" name="schoolId"
                                                lay-filter="schoolFilter0">
                                            <option value="0" selected="">无</option>
                                            <option value="1" >西南民族大学</option>
                                            <option value="1" >西北民族大学</option>
                                            <option value="1" >四川大学</option>
                                            <option value="1" >西南财经大学</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="layui-form-item" pane="">
                                    <label class="layui-form-label">性别</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="sex" value="0" title="男" checked="">
                                        <input type="radio" name="sex" value="1" title="女">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <button class="layui-btn" lay-submit="reform"
                                            lay-filter="reform">注册
                                    </button>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

<script src="../static/layui/layui.all.js"></script>
<script src="../static/js/jquery/jquery-3.3.1.min.js"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //自定义验证规则
        form.verify({
            studentid: function (value) {
                if (value.length < 6) {
                    return '学号至少得6个字符啊';
                }
            },
            name: function (value) {
                if (value.length < 1) {
                    return '姓名至少得1个字符啊';
                }
            },
            password: [/(.+){6,18}$/, '密码必须6到18位']
        });

        //监听提交
        form.on('submit(reform)', function (data) {
            /*layer.alert(JSON.stringify(data.field), {
                title : '最终的提交信息'
            })*/
            //return false;
        });
    });
</script>
<script type="text/javascript">
    var form;
    layui.use(['layedit', 'form'], function () {
        form = layui.form;
    });
    //加载layui中的jq
    layui.use(['jquery', 'layer'], function () {
        var $ = layui.$, //重点处
            layer = layui.layer;

        //监听提交
        form.on('submit(reform)', function (data) {
            $.ajax({
                type:'POST',
                url:'/user/register',
                dataType: "json",//预期服务器返回的数据类型
                data: $('#reform').serialize(),
                success:function(data){
                    var layer = layui.layer;
                    if (data.code == 0){
                        layer.msg(data.msg);
                    }
                    if (data.code == 1){
                        layer.msg(data.msg,{time:1600,shade:0.4},function () {
                            window.location.reload();
                        });

                    } else {
                        layer.msg("提交失败",{time:1200,shade:0.4});
                    }
                    //layer.msg(data.msg);
                    //window.location.href = '/user/logout';
                }
            });
            return false;
        });

    });
</script>

</html>
