<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="admin_header">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">校园通服务平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="adminIndex.html">管理员中心</a></li>
            <li class="layui-nav-item"><a href="admin/getusers.do">用户管理</a></li>
            <li class="layui-nav-item"><a href="admin/getschools.do">平台管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="javascript:;">[[${session.admin.name}]] </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="/adminIndex/admin">个人信息</a>
                    </dd>
                    <dd>
                        <a href="/adminPassword/admin">安全设置</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/user/logout">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">

                <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">平台管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/admin/getAllSchools">院校管理</a>
                        </dd>
                        <dd>
                            <a href="admin/gettasks.do">任务管理</a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="admin/getusers.do">用户维护</a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-nav-itemed"><a class=""
                                                               href="javascript:;">管理员中心</a>
                    <dl class="layui-nav-child">
                        <!--<dd class="layui-this">-->
                        <dd >
                            <a href="/adminIndex/admin">个人信息</a>
                        </dd>
                        <dd>
                            <a href="/adminPassword/admin">安全设置</a>
                        </dd>
                        <dd>
                            <a href="/adminAddAdmin/admin">添加管理员</a>
                        </dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>